.well.bs-component.clearfix.form-newpost
  %form#new_job.new_job{"accept-charset" => "UTF-8", :action => "/jobs", :method => "post"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "CvHXz8XQMOlEbhFjFUbUqDJ+4nnjrYuikFFAscyNWVzfTLcmkc03gTaoph6PH5nZtwDu7pGOvhnReNdg7qj8xQ=="}/
    %input#token{:name => "token", :type => "hidden"}/
    %fieldset
      %legend.no-sep Tell us about the job
      .row
        .col-md-6
          .mb-3
            %input#job_title.form-control{:name => "job[title]", :placeholder => "Job Title", :required => "required", :type => "text"}/
        .col-md-6
          .mb-3
            %select#job_job_type.form-control{:name => "job[job_type]"}
              %option{:value => "Unspecified"} --Select Job Type--
              %option{:value => "Long Term"} Long Term
              %option{:value => "Project"} Project
      .form-group
        %label
          Description (Markdown enabled)
        %textarea#job_description.form-control{:name => "job[description]", :required => "required", :rows => "15"}
          :preserve
            ### About the team
            
            ### About the Role
            
            ### You are excited about this opportunity because you will...
            
            ### We are excited about you because you have experience with...
            
            
    %fieldset
      %legend.no-sep
        Tell us about the company
      .row
        .col-md-6
          .mb-3
            %input#job_company_name.form-control{:name => "job[company_name]", :placeholder => "Company Name", :required => "required", :type => "text"}/
        .col-md-6
          .mb-3
            %input#job_company_url.form-control{:name => "job[location]", :placeholder => "Location", :required => "required", :type => "text"}/
      .row
        .top-20
          .col-md-6
            .mb-3
              %input#job_company_url.form-control{:name => "job[company_url]", :placeholder => "Website URL", :type => "text"}/
          .col-md-6
            .mb-3
              %input#job_email.form-control{:name => "job[email]", :placeholder => "Email", :required => "required", :type => "email"}/
      .form-group
        .form-control-wrapper
          .checkbox
            %label{:for => "job_agencies_ok"}
              %input{:name => "job[agencies_ok]", :type => "hidden", :value => "0"}/
              %input#job_agencies_ok{:name => "job[agencies_ok]", :type => "checkbox", :value => "1"}/
              %span.ripple
              %span.check
              It's OK for agencies to contact me
    .row.new-jobs-save
      .form-group.text-center.form-inline-block
        %input.btn.btn-default.btn-raised{:name => "commit", :type => "submit", :value => "Save and Continue", :id => "save-continue"}/
        %input.btn.btn-success.btn-raised{:name => "commit", :type => "submit", :value => "Preview", :id => "preview"}/
