.row
  .col-md-offset-1.col-md-10
    .well.bs-component
      .row
        %p.lead.text-center.col-md-10.col-md-offset-1.landing-lead
          RailsRemote.com connects the best
          %strong Ruby on Rails developers
          in the world with the greatest employers in the industry for long and short term
          %strong remote jobs.
      .list-group
        = render partial: 'quick_job', collection: @jobs, as: :job

      .clearfix
        = link_to "Post a Job. Free for a limited time", new_job_path, class: 'btn btn-raised btn-default pull-right'

