$header_red: #940509

.header
  padding-top: 20px
  padding-bottom: 20px
  margin-bottom: 20px
  color: $header_red
  h1
    a
      font-size: 42px
      font-weight: bold
      color: $header_red
      text-decoration: none
    small
      color: $header_red
      margin-top: 5px
      display: block
      font-size: 14px
      font-weight: 300
